<div class="container-full ">
    <img class='banner' alt='banner' src='assets/images/airplane.jpg' /> 
</div>
<div class="container" style="margin-top: -100px;">
<div class="row" class="selectionRow">
    <div class="col-lg-6">
        <as-search-box [label]="'From'"  (onAirportSelected)="selectOrigen($event[0])"></as-search-box>
    </div>

    <div class="col-lg-6">
        <as-search-box [label]="'To'" (onAirportSelected)="selectDesitnation($event[0])"></as-search-box>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="panel panel-default">
             <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-shopping-cart"></i> Available flights <i *ngIf="(airFares | async)?.length!=1 && isLoading" class="fa fa-spinner fa-spin" ></i></h3>
            </div>
             <div class="panel-body">
            <table class="table table-hover">
                <thead>
                    <th>Price</th>
                    <th>From</th>
                    <th>To</th>
                    <th></th>
                </thead>
                <tbody>
                    <tr *ngFor="let airFare of airFares | async">
                        <td> {{airFare.amount}} {{airFare.currency}}</td>
                        <td> {{airFare.originInfo.description}} </td>
                        <td> {{airFare.destinationInfo.description}}</td>
                        <td> <button (click)="selectDesitnation(airport)" class="btn btn-success">Book now</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
        </div>
    </div>
</div>
</div>