<div class="container" style="margin-top: 100px;">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-bar-chart"></i> Response times &nbsp;<span class="badge"></span></h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div *ngFor="let chart of charts" class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                    <as-zing-chart [chart]="chart"></as-zing-chart>
                </div>
            </div>
        </div>
    </div>
     <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-bar-chart"></i> Number of requests &nbsp;<span class="badge"></span></h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div *ngFor="let chart of charts2" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <as-zing-chart [chart]="chart"></as-zing-chart>
                </div>
            </div>
        </div>
    </div>
</div>